.bgAnimate {
    animation: animateBg 10s infinite;
    position: absolute;
    top: -80px;
    right: 0;
}

@keyframes animateBg {
    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-300%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateX(0);
    }
}